Q.1 A database is an organized collection of data, so that it can be easily accessed and managed.

SQL, which stands for “Structured Query Language,” is the programming language that’s been widely used in managing data in relational database management systems (RDBMS).

NoSQL is a non-relational database, meaning it allows different structures than a SQL database (not rows and columns) and more flexibility to use a format that best fits the data.

Q.2 DDL or Data Definition Language actually consists of the SQL commands that can be used to define the database schema. It simply deals with descriptions of the database schema and is used to create and modify the structure of database objects in the database. DDL is a set of SQL commands used to create, modify, and delete database structures but not data.

CREATE: This command is used to create the database or its objects (like table, index, function, views, store procedure, and triggers).

DROP: This command is used to delete objects from the database.

ALTER: This is used to alter the structure of the database.

TRUNCATE: This is used to remove all records from a table, including all spaces allocated for the records are removed.

CREATE Database Database_Name;  

DROP DATABASE Database_Name;  

ALTER TABLE Student ADD Father's_Name Varchar(60);

TRUNCATE TABLE Table_Name;

Q.3 The SQL commands that deals with the manipulation of data present in the database belong to DML or Data Manipulation Language and this includes most of the SQL statements. It is the component of the SQL statement that controls access to data and to the database.

INSERT : It is used to insert data into a table.

UPDATE: It is used to update existing data within a table.

DELETE : It is used to delete records from a database table.

SELECT * FROM table_name;  

UPDATE Product SET Product_Price = 80 WHERE Product_Id = 'P102' ; 

DELETE FROM Product WHERE Product_Id = 'P202' ;

Q.4 DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it.

SELECT: It is used to retrieve data from the database.

SELECT emp_name  
FROM employee  
WHERE age > 20;

Q.5 

Primary keys:-
A primary key is a column or a set of columns in a table whose values uniquely identify a row in the table. A relational database is designed to enforce the uniqueness of primary keys by allowing only one row with a given primary key value in a table.

Foreign keys:-
A foreign key is a column or a set of columns in a table whose values correspond to the values of the primary key in another table. In order to add a row with a given foreign key value, there must exist a row in the related table with the same primary key value.

Q.6 

import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="abc",

  password="password")

mycursor = mydb.cursor()


cursor() Method is used to execute statements to communicate with the MySQL database

execute() Method executes the given database operation (query or command).

Q.7 
FROM clause

ON clause

OUTER clause

WHERE clause

GROUP BY clause

HAVING clause

SELECT clause

DISTINCT clause

ORDER BY clause

TOP clause